@font-face {
    font-family: 'Inter';
    src: url('../src/assets/font/Inter-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

  body{
    font-family: Inter;
    background-color: #EBEEF3;
    margin: 0;
  }
  